doctype html
html
  head
    title AcademyofDance
    block scripts
    block style
      style
        include style.css
  body
    nav#navbar.top
        ul
            img(src="static/logo.jpg", alt="Bag of DANCE")
            li#ac1 #[a(href="/home") Home]
            li#ac2 #[a(href="/") About]
            li#ac3 #[a(href="/") Dance Forms]
            li#ac4 #[a(href="/") Tutor]
            li#ac5 #[a(href="/contact") Contact Us]
    block content
    footer#footer
          p#si 96 sarani,salt lake,kolkata  222-3455-2654   +91 7987498639 
          p#se Copyright 2014. Website.com. All Rights Reserved 