extends base.pug

block scripts
  script(src='/script.js')

block style
    style
      include style.css
      include stylehome.css

block content
    section#introsection
        h1 WELCOME
        h5 Dancing is like dreaming on your feet.
    section#sponsorssection
        img#st(src="static/just.jpg", alt="Bag of DANCE")
        div
          p#th We dance for physical fitness...
          p#fo We dance for mental clarity...
          p#fi We dance for emotional stability...
        //- div  We dance for physical fitness. We dance for mental clarity. We dance for emotional stability
        img#nd(src="static/just1.jpg", alt="Bag of DANCE")
    section#oursection
      div#sponsor 
        | Your dancing freely in rains ... your getting angry on small things for no reason ... your small and childish mischiefs ... I will love them all ... as long as I live, as long as I live_.._.._..
      div#sponsors 
        h3.sp Our Sponsors
        img.image(src="static/9.png", alt="Bag of DANCE")
        img.image(src="static/8.png", alt="Bag of DANCE")
        img.image(src="static/11.png", alt="Bag of DANCE")
        img.image(src="static/13.png", alt="Bag of DANCE")    